#root {

  margin: 0 auto;
  padding: 2rem;
  text-align: center;

}

.btn-refrash{
    width: 100%;
    border: 3px solid black;
    border-radius: 5px;
    background:white;
    font-size: 1rem;

    text-transform: uppercase;
    padding: .2rem;
    font-weight: bold;
    cursor: pointer;
    color: black;
  }
.ppW{
color:  hsl(200, 100%, 50%);
text-transform: uppercase;
width: 100%;
border: 3px solid  hsl(200, 100%, 50%);
border-radius: 5px;
background:white;
padding: 10px;
font-size: 1rem;
font-weight: bold;
}
.ppL{
    color: Red;
    text-transform: uppercase;
width: 100%;
border: 3px solid  red;
border-radius: 5px;
background:white;
padding: 10px;
font-size: 1rem;
font-weight: bold;
    }
    .hint{
      background-color:  hsl(200, 100%, 50%);
      width: 100%;
      height: 50px;
      text-align: center;
      border: 3px solid black;
      text-transform: uppercase;
      padding-top: 10px;
      font-size: 24px;
      font-weight: 800;
      color:white;
      border-radius: 10px;
    }
    .hangman{
      background-color:  hsl(200, 100%, 50%);
      width: 100%;
      height: 50px;
      text-align: center;
      padding-top: 10px;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      border: 3px solid black;
      border-radius: 10px;
      text-transform: uppercase;
      font-size: 30px;
      font-weight: 800;
      color:black;
    }
    .conta {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
    .top{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 400  px;
    }