.btn {
    width: 50%;
    border: 3px solid black;
    border-radius: 10px;
    background: none;
    aspect-ratio: 1 / 1;
    font-size: 2rem;
    text-transform: uppercase;
    padding: .2rem;
    font-weight: bold;
    cursor: pointer;
    color: black;
  }
  
  .btn.active {
    background-color: hsl(200, 100%, 50%);
    color: white;
    border-radius: 10px;
  }
  
  .btn.inactive {
    opacity: .1;
  }
  
  .btn:hover:not(:disabled),
  .btn:focus:not(:disabled) {
    background-color: hsl(200, 100%, 75%);
  }
  